* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #1c1c1c;
  --text-color: #222222;
  --text-color-inverse: #ffffff;
  --highlight: #0077ff;
  --highlight-inverse: #66bbff;
  --card-background: #ffffff;
}

html {
    font-size: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--text-color);
    line-height: 1.5em;
    font-size: 1rem;
}
